{{!-- <link rel='stylesheet' href='/stylesheets/base/cards.scss' /> --}}


   {{!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">Top plants for this location</h3>
      <p class="lead">Filters</p>
    </div>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        {{#each plants}}

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{this.commonName}}</h4>
          </div>
          <div class="card-body">
              <img src="{{plant.pictureUrl}}" />
            <p class="card-title pricing-card-title"><i>{{this.scientificName}}</i></p>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    {{#each this.plantType}}
                    <p><em>{{this}}</em></p>
                    {{/each}}
                    <a href="/plants/{{this._id}}">see details</a>
                </li>

            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Button</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div> --}}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-5">Your recommended plant palette:</h3>

</div>

<!-- Card deck -->
<div class="card-deck">
{{#each plants}}
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <div class="card-img-top" style="background-image: url(https://kensnursery.com/wp-content/uploads/PAN-DUB-4.jpg)"></div>
      <a href="/plants/{{this._id}}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h5 class="card-title">{{this.commonName}}</h5>
      <p class="card-title"><i>{{this.scientificName}}</i></p>

      <!--Text-->

      <p class="card-text">{{#each this.plantType}}<p><em>{{this}}</em></p>{{/each}}
      <a href="/plants/{{this._id}}">see details</a></p>
      	{{!-- <a href="/plants/{{this._id}}/save" class="btn btn-lg btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to project </a> --}}
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a class="btn btn-primary btn-md" href="/plants/{{this._id}}">More info</a>
    </div>
  </div>
  <!-- Card -->
{{/each}}
</div>
<!-- Card deck -->